@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);



















#msg-box4-11 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-11 .mbr-article {
  color: #ffffff;
}
#msg-box4-11 .mbr-article P {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  color: #faaf40;
}
#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #f5f3f3;
}
#menu-12 .mbr-navbar__section {
  background: #f5f3f3;
}
#menu-12 .mbr-navbar__hamburger {
  color: #7c706b;
}
#menu-12 .mbr-navbar__items a {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
#menu-12 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 21px;
}
#footer1-13 P {
  text-align: center;
}
#msg-box4-13 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-article P {
  color: #4c6972;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
}
#msg-box4-15 .mbr-header__text {
  color: #4c6972;
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}
#msg-box4-15 .mbr-header__subtext {
  color: #0d2011;
  font-family: 'Roboto Condensed', sans-serif;
}
#msg-box4-15 .mbr-article {
  color: #215b32;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
}
#msg-box4-15 .mbr-article H3 {
  color: #1a3b13;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
}
#msg-box4-15 .mbr-header__text SPAN {
  text-align: center;
  color: #2f4850;
}
#msg-box4-15 .mbr-article LI {
  text-align: right;
}
#msg-box4-15 .mbr-article P {
  color: #1d502c;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
}
#msg-box4-15 .btn {
  font-size: 15px;
}
#msg-box4-15 .mbr-article B {
  color: #215b32;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
}
#msg-box4-15 .mbr-article H2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 24px;
  color: #215b32;
}
#msg-box4-15 .mbr-article DIV {
  color: #215b32;
}
#msg-box4-14 .mbr-header__text {
  color: #000000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-14 .mbr-header__subtext {
  color: #39312d;
}
#msg-box4-14 .mbr-article {
  color: #541d1c;
  font-size: 25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-14 .mbr-article P {
  color: #36261f;
  font-size: 30px;
}
#msg-box4-14 .btn {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
#msg-box4-14 .mbr-header__subtext SPAN {
  color: #000000;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 22px;
}
#msg-box4-14 .mbr-article BLOCKQUOTE {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #541d1c;
  font-size: 25px;
}
#msg-box4-14 .mbr-article H3 {
  font-size: 25px;
  color: #541d1c;
}
#gallery1-19 SMALL {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#social-buttons2-16 .mbr-header__text {
  font-family: 'Titillium Web', sans-serif;
  font-size: 19px;
  text-align: right;
}
#social-buttons1-17 .mbr-header__text {
  font-size: 19px;
  text-align: right;
  font-family: 'Titillium Web', sans-serif;
}
